<div id="fh5co-menus">
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="heading to-animate">Food Menu</h2>
          <p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="row row-padded">
        <div class="col-md-6">
          <div class="fh5co-food-menu to-animate-2" data-section="drinks">
            <h2 class="fh5co-drinks">Drinks</h2>
            <ul>
              {% with_scope type: 'drinks' %}
              {% for item in contents.items | limit: 4 %}
              <li>
                <div class="fh5co-food-desc">
                  <figure>
                    <img src="{{ item.photo.url }}" class="img-responsive" alt="{{ item.photo.url }}">
                  </figure>
                  <div>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.desc }}</p>
                  </div>
                </div>
                <div class="fh5co-food-pricing">
                  {{ item.price | money: unit: "€", format: "%n %u" }}
                </div>
              </li>
              {% endfor %}
              {% endwith_scope %}
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fh5co-food-menu to-animate-2" data-section="meats">
            <h2 class="fh5co-dishes">Steak</h2>
            <ul>
              {% with_scope type: 'meats' %}
              {% for item in contents.items %}
              <li>
                <div class="fh5co-food-desc">
                  <figure>
                    <img src="{{ item.photo.url }}" class="img-responsive" alt="{{ item.photo.url }}">
                  </figure>
                  <div>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.desc }}</p>
                  </div>
                </div>
                <div class="fh5co-food-pricing">
                  {{ item.price | money: unit: "€", format: "%n %u" }}
                </div>
              </li>
              {% endfor %}
              {% endwith_scope %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>